.body{
    box-sizing: border-box;
}


.calculator{
    width: 400px;
    border:5px maroon solid;
    
}
.calrow{
    display: flex; 
    background-color: black;
    margin-bottom: 0.53 black solid;
    justify-content: space-between;
}
section{
background-color: rgb(54, 52, 52);
color: white;
text-align: right;
padding: 30px 10px 0 0;
font-size: 40px;
}
.calcbutton{
    background-color: rgb(211, 211, 211);
    font-size: 40px;
    flex-basis: 24.5%;
}
.buttonc{
    flex-basis:49%;
}
.button0{
    flex-basis: 74%;
}


.one{
    background-color: brown;
}